APP_ENV=development

# Temporal
TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default

# Internal Services (Proxy Layer)
PAYMENT_SERVICE_URL=http://localhost:8081
PAYMENT_SERVICE_API_KEY=pk_test_xxx
INVENTORY_SERVICE_URL=http://localhost:8082
INVENTORY_SERVICE_API_KEY=ik_test_xxx
SHIPPING_SERVICE_URL=http://localhost:8083
SHIPPING_SERVICE_API_KEY=sk_test_xxx
NOTIFICATION_SERVICE_URL=http://localhost:8084
NOTIFICATION_SERVICE_API_KEY=nk_test_xxx
