APP_ENV=development
APP_PORT=8080
LOG_LEVEL=info

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=bonuslink_service
COM_POSTGRES_USERNAME=postgres
COM_POSTGRES_PASSWORD=postgres

RABBITMQ_ENABLED=true
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
COM_RABBITMQ_USERNAME=guest
COM_RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=referral.events
RABBITMQ_QUEUE=bonuslink.reward
RABBITMQ_ROUTING_KEY=referral.reward.granted
