body {
  margin: 0px;
  background: #000;
}
#bg_container {
  height: 800px;
  overflow: hidden;
}
#bg {
  width: 45%;
  height: 530px;
  margin-left: 600px;
  margin-right: auto;
  margin-top: 250px;
}
#content {
  position: absolute;
  top: 0px;
  padding: 30px;
  color: #fff;
  text-shadow: #000 2px 2px;
}